.cart{
    min-height: 60vh;
    
    @media (max-width: 912px) {
        min-height: 72vh;
    }
    @media (max-width: 768px) {
        min-height: 68vh;
    }
    @media (max-width: 767px) {
        min-height: auto;
    }

    h1{
        margin-top: 30px;
    }

    h2{
        margin-top: 30px;
    }

    .empty{
        margin-top: 30px;
        width: auto;
        height: auto;
    }

    .back{
        margin-top: 30px;
    }

    .image{
        @media (max-width:767px){
            width: 50%;
        }
    }

    .btns{
        button{
            width: 30px;
            height: 30px;
            margin-top: -7px;
        }
    }
}


.order{
    min-height: 60vh;
    
    @media (max-width: 912px) {
        min-height: 72vh;
    }
    @media (max-width: 768px) {
        min-height: 68vh;
    }
    @media (max-width: 767px) {
        min-height: auto;
    }
}

.placeOrder{
    font-family: "Roboto", sans-serif;
    min-height: 60vh;
    
    @media (max-width: 912px) {
        min-height: 72vh;
    }
    @media (max-width: 768px) {
        min-height: 68vh;
    }
    @media (max-width: 767px) {
        min-height: auto;
    }

    h1{
        margin-top: 30px;
    }

    h2{
        margin-top: 30px;
    }
}

.orderHistory{
    font-family: "Roboto", sans-serif;
    min-height: 60vh;
    
    @media (max-width: 912px) {
        min-height: 72vh;
    }
    @media (max-width: 768px) {
        min-height: 68vh;
    }
    @media (max-width: 767px) {
        min-height: auto;
    }
}

.admin{
    min-height: 60vh;
    
    @media (max-width: 912px) {
        min-height: 72vh;
    }
    @media (max-width: 768px) {
        min-height: 68vh;
    }
    @media (max-width: 767px) {
        min-height: auto;
    }
}