.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    width: 100vw;
    z-index: 7;
    @media (max-width: 991px) {
        display: flex;
        box-shadow: 0 5px 10px rgb(0 0 0 / 29%);
    }

    .userName {
        cursor: pointer;
        display: flex;
        margin-top: 2px;
        align-items: center;
        font-size: 16px;
        justify-content: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
        border: 1px solid #fff;
        border-radius: 20%;
        margin-left: 15px;
        width: 28px;
        height: 28px;

       

        @media (max-width: 991px) {
        }
    }
    .left {
        color: #fff;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: row;

        @media (max-width: 991px) {
            display: none;
        }

        .map {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                margin-right: 5px;
            }
        }
        .phone {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 20px;
            img {
                margin-right: 5px;
            }
        }
    }

    .center {
        img {
            cursor: pointer;

            @media (max-width: 991px) {
                width: 100px;
                height: 50px;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        .img1,
        .img2 {
            margin-left: 20px;
            margin-top: 2px;
            @media (max-width: 991px) {
                display: none;
            }
        }

        .cart {
            display: flex;
            position: relative;
            margin-left: 20px;
            width: 30px;
            .img3 {
                display: block;
            }

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 8px;
                top: -10px;
                background-color: blue;
                border-radius: 50%;
                color: #fff;
                width: 20px;
                height: 20px;
            }
        }
        img {
            cursor: pointer;
        }
    }
}

.navbar2 {
    background-color: rgb(248, 246, 246);
    width: 100vw;
    height: 35px;
    box-shadow: 0 5px 13px rgb(0 0 0 / 19%);
    display: flex;
    align-items: center;

    li {
        list-style: none;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        cursor: pointer;
        color: rgb(41, 39, 39);

        &:hover {
            color: black;
            font-weight: 600;
        }
    }

    @media (max-width: 991px) {
        display: none;
    }
}

.dropdown-menu {
    background-color: red;
    color: blue;
    position: absolute;
    right: 0;
    left: auto;
    transform: translateX(-100%);
  }