.rings {
    min-height: 70vh;
    .menu {
        height: 600px;
        display: none;
    }

    li {
        list-style: none;
    }

    .cardBottom {
        display: flex;
        justify-content: space-between;
        position: relative;


        @media (max-width: 820px) {
            flex-direction: column;
        }
        
        button {
            position: absolute;
            right: 0px;
            bottom: 10px;
            padding: 3px 3px;
            @media (max-width: 820px) {
                width: 100%;
                position: relative;
            }
        }
    }
}
